/* Custom Font */
@font-face {
    font-family: "Fixedsys Excelsior 3.01 Regular";
    src: url(/font/Fixedsys\ Excelsior\ 3.01\ Regular.ttf) format("opentype");
}

/* Variables */
:root {
    --dark-grey: #101010;
    --grey: #c0c0c0;
    --nav-link-size: 1.5rem;
}

/* Global */
body {
    font-family: "Fixedsys Excelsior 3.01 Regular";
    background-color: var(--dark-grey);
    color: var(--grey);
    padding: 0 0.5rem;
    border-left: solid var(--grey) 0.1rem;
    border-right: solid var(--grey) 0.1rem;
}
a {
    text-decoration: none;
    color: var(--grey);
}
li, ul, ol {
    margin-left: 0.5rem;
    padding: 0;
}
h2, h3, h4 {
    margin-bottom: -0.5rem;
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.7rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.2rem;
}

/* Header */
header {
    margin-bottom: 1rem;
}
header h1 {
    text-align: center;
}
header h1 a:hover {
    color: white;
}

/* Footer */
footer {
    padding: 2rem 0;
    text-align: center;
}
footer a {
    font-size: 2rem;
}
footer a:hover {
    color: white;
}
#credit {
    font-size: 1rem;
}

/* Laptop Screen Configuration */
@media only screen and (min-width: 1000px) { 
    /* Global */
    body {
        width: 130ch;
        margin: auto;
    }
    /* Header */
    header h1 {
        text-align: left;
    }
}