/* Custom Font */
@font-face {
    font-family: "Fixedsys Excelsior 3.01 Regular";
    src: url(/font/Fixedsys\ Excelsior\ 3.01\ Regular.ttf) format("opentype");
}

/* Variables */
:root {
    --black: #010101;
    --grey: #c0c0c0;
    --grey-2: #222222;
    --white: #fff;
    --margin-padding: 0.5rem;
    --thin: 0.1rem;
}

/* Global */
body {
    font-family: "Fixedsys Excelsior 3.01 Regular";
    background-color: var(--grey-2);
    color: var(--white);
    padding: 0.01rem var(--margin-padding);
    border-left: solid var(--white) var(--thin);
    border-right: solid var(--white) var(--thin);
    margin: 0; /* Astro Adds Margin To Body */
}
a {
    text-decoration: none;
    color: var(--white);
    transition: 1s;
}
a:hover {
    color: var(--grey);
}
li, ul, ol {
    margin-left: var(--margin-padding);
    padding: 0;
    list-style-type: square;
}
li {
    margin-top: var(--margin-padding);
}
ul, ol {
    margin-top: -0.5rem;
}
h2, h3, h4 {
    margin-top: var(--margin-padding);
    margin-bottom: 0;
    letter-spacing: 0.1rem;
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.7rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.2rem;
}
table, th, td {
    border: 0.01rem solid var(--white);
}
table {
    width: 100%;
    margin-top: var(--margin-padding);
    margin-bottom: 1rem;
}
th, td {
    padding: 0.2rem;
}
th {
    text-align: center;
}

/* Classes */
.center-table-element {
    text-align: center;
}

/* Header */
header {
    margin-bottom: 1rem;
}
header h1 {
    text-align: center;
}
header h1 a, header h1 {
    color: var(--black);
    -webkit-text-stroke: 0.1px var(--white);
}
header h1 a:hover {
    color: var(--white);
    -webkit-text-stroke: 0.1px var(--black);
}

/* Footer */
footer {
    padding: 2rem 0;
    text-align: center;
}
footer a {
    font-size: 2rem;
    color: var(--black);
    -webkit-text-stroke: 0.5px var(--white);
}
footer a:hover {
    color: var(--white);
    -webkit-text-stroke: 0.5px var(--black);
}
#credit {
    font-size: 1rem;
}

/* Laptop Screen Configuration */
@media only screen and (min-width: 1000px) { 
    /* Global */
    body {
        width: 130ch;
        margin: auto;
    }
    th, td {
        padding: 1rem;
    }

    /* Header */
    header h1 {
        text-align: left;
    }
}